body {
    font-family: 'Times New Roman', Times, serif;
}

header .logo img {
    height: 50px;
}

.rightSvg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    flex-shrink: 0;
}

h2.display-5 {
    font-weight: 700;
}

main section {
    padding: 40px 0;
}

main section img {
    max-width: 80%;
    border-radius: 15px;
}

footer {
    background-color: #0d0d0e;
}

footer .footer-logo img {
    height: 50px;
}

footer .footer-links a {
    color: #ffffff;
    font-weight: 600;
}

footer .footer-links a:hover {
    color: #ffffff;
}
